.project {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 350px;
    background-color: #f7F7F7;
    text-align: start;
    flex-wrap: wrap;

}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #eeeef5;

}

.description {
    background-color: silver;
    margin: 10px 15px;
}

.checkBtn {
    position: absolute;
    opacity: 0.65;
}

.title {
    background-color: silver;
    margin: 10px 0 0 15px;
}

.projectImg {
    width: 100%;
}