.ProjectsBlock {
    height: 100vh;
    background-color: plum;
}

.ProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.Projects {
    display: flex;
    border: 1px solid;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: #eeeef5;
}